pin-depends: [
  [
    "melange-fetch.dev"
    "git+https://github.com/melange-community/melange-fetch.git#d2183ec245cbf5c7a8f99f8c41d2de0758c8cda7"
  ]
  [
    "melange-jest.~dev"
    "git+https://github.com/melange-community/melange-jest.git#9cd5449738ab6387880ad0ec7a31b78e08f4476d"
  ]
  [
    "melange-webapi.~dev"
    "git+https://github.com/melange-community/melange-webapi.git#6052d83efa2f29a295d83fb93a6121a232701033"
  ]
]