name: build

on:
  pull_request:
  push:
    branch:
      - master

jobs:
  build-ocaml:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        ocaml-compiler:
          - 4.14.x
        package:
          - decoders-bencode
          - decoders-cbor
          - decoders-ezjsonm
          - decoders-ezxmlm
          - decoders-jsonaf
          - decoders-jsonm
          - decoders-msgpck
          - decoders-sexplib
          - decoders-yojson
        include:
          - os: ubuntu-latest
            ocaml-compiler: 4.08.x
            package: decoders-yojson


    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-depext-flags: --with-test
          opam-local-packages: |
            decoders.opam
            ${{ matrix.package }}.opam

      - run: opam install "${{ matrix.package }}" --with-test

  build-node:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - 16.x

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci
      - run: npm run build
      - run: npm test
